
.App {
  text-align: center;
}

.App-title {
  font-size: 5em;
  font-family: 'Playfair Display', serif;
}

.article-images {
    position: relative;
    width:  235px;
    height: 169px;
    float: left;
    margin-left: 20px;
}


.App-intro {
  font-size: large;
}
